.App {
  text-align: center;
}

.jumbotron {
  background: #eee;
  height: 500px;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;

}

.text-container {
  text-align: center;
  color: #fff;
}

.display-4 {
  padding-top: 180px;
  font-weight: 700;
}